del/1_red.csv
del/4_red.csv
del/6_red.csv
del/12_red.csv
del/18_red.csv
final/2_red_crop_3.20-39.87_30fps_smooth.csv
final/5_red_crop_70.97-113.87_30fps_smooth.csv
final/7_red_crop_140.10-179.73_30fps_smooth.csv
final/8_red_crop_207.83-251.60_30fps_smooth.csv
final/9_red_30fps_smooth.csv
final/14_red_crop_335.93-378.10_30fps_smooth.csv
final/17_red_crop_409.37-450.80_30fps_smooth.csv
export/2_red_crop_3.20-39.87.csv
export/2_red.csv
export/5_red_crop_70.97-113.87.csv
export/5_red.csv
export/7_red_crop_140.10-179.73.csv
export/7_red.csv
export/8_red_crop_207.83-251.60.csv
export/8_red.csv
export/9_red.csv
export/14_red_crop_335.93-378.10.csv
export/14_red.csv
export/17_red_crop_409.37-450.80.csv
export/17_red.csv
fixed/2_red_crop_3.20-39.87.csv
fixed/5_red_crop_70.97-113.87.csv
fixed/7_red_crop_140.10-179.73.csv
fixed/8_red_crop_207.83-251.60.csv
fixed/9_red.csv
fixed/14_red_crop_335.93-378.10.csv
fixed/17_red_crop_409.37-450.80.csv
